body {
  font-size: 14px;
  font-family: "Times New Roman";
}

#container {
  margin: 0px auto;
  width: 500px;
  background-color: white;
  min-height: 270px;
  border: solid 2px black;
}

#container #title {
  width: calc(100% - 12px);
  background-color: yellow;
  padding: 6px;
}

#passkey {
  width: 240px;
  margin: 0px auto;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
}

#passkey #password {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px #808080;
  border-radius: 4px;
  padding: 6px;
  font-size: 16px;
}

#passkey #error {
  color: red;
  font-size: 12px;
  visibility: hidden;
  text-align: center;
  line-height: 16px;
}

#passkey #submit {
  margin: 6px auto;
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  border-radius: 8px;
  width: 120px;
}

#leftbuttons {
  width: 126px;
  height: 126px;
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

#rightbuttons {
  width: 126px;
  height: 126px;
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}
.heading{
  font-weight: bold;
}
.button {
  height: 32px;
  width: 32px;
  padding: 4px;
  border-radius: 20px;
  border: solid 1px rgba(0, 0, 0, 0);
  background-color: rgba(220, 220, 220, 255);
}

.button:hover {
  background-color: rgba(180, 180, 180, 255);
}

#topbutton {
  margin-left: 42px;
}

#leftbutton {
  float: left;
}

#rightbutton {
  float: right;
}

#bottombutton {
  float: none;
  margin-top: 42px;
  margin-left: 42px;
}

#stopbutton {
  float: left;
  margin-left: 0px;
  border-color: rgba(0, 0, 0, 0);
}

#stopbutton .stopsquare {
  margin: 4px 4px 4px 4px;
  height: 24px;
  width: 24px;
  background-color: red;
/*  border-radius: 12px;*/
}

#liftbutton {
  margin-left: 42px;
}

#grabbutton {
  float: left;
}

#releasebutton {
  float: right;
}

#dropbutton {
  float: none;
  margin-top: 42px;
  margin-left: 42px;
}

.toparrow {
  height: 0px;
  width: 0px;
  border-top: solid 0px white;
  border-left: solid 16px rgba(255, 255, 255, 0);
  border-right: solid 16px rgba(255, 255, 255, 0);
  border-bottom: solid 16px rgba(100, 100, 100, 255);
  margin: 6px 10px 0px 0px;
}

.leftarrow {
  height: 0px;
  width: 0px;
  border-top: solid 16px rgba(255, 255, 255, 0);
  border-left: solid 0px white;
  border-right: solid 16px rgba(100, 100, 100, 255);
  border-bottom: solid 16px rgba(255, 255, 255, 0);
  margin: 0px 0px 10px 6px;
}

.rightarrow {
  height: 0px;
  width: 0px;
  border-top: solid 16px rgba(255, 255, 255, 0);
  border-left: solid 16px rgba(100, 100, 100, 255);
  border-right: solid 0px white;
  border-bottom: solid 16px rgba(255, 255, 255, 0);
  margin: 0px 0px 6px 10px;
}

.bottomarrow {
  height: 0px;
  width: 0px;
  border-top: solid 16px rgba(100, 100, 100, 255);
  border-left: solid 16px rgba(255, 255, 255, 0);
  border-right: solid 16px rgba(255, 255, 255, 0);
  border-bottom: solid 0px white;
  margin: 10px 6px 0px 0px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overridebox {
  width: 200px;
  height: 126px;
  margin-top: 50px;
  float: left;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
  font-family: Arial;
  background-color: rgba(235, 235, 235, 255);
}

#overridebox #enable {
  width: 100px;
  height: 32px;
  margin: 18px auto;
  border: 2px solid blue;
  border-radius: 4px;
  color: blue;
  background-color: white;
}

#overridebox #enable:hover, #overridebox #enable.selected {
  color: white;
  background-color: blue;
}

#overridebox #disable {
  width: 100px;
  height: 32px;
  margin: 18px auto;
  border: 2px solid red;
  border-radius: 4px;
  color: red;
  background-color: white;
}

#overridebox #disable:hover, #overridebox #disable.selected {
  color: white;
  background-color: red;
}
#grabbutton, #releasebutton{
  width: 40px;
  text-align: center;
  height: 15px;
  margin-top: 8px;
}
#status{
  clear: both;
  padding-top: 10px;
  text-align: center;
}