<div id="leftbuttons">
  <p class="heading">Movement</p>
  <div id="topbutton" class="button">
    <div class="toparrow"></div>
  </div>
  <div id="leftbutton" class="button">
    <div class="leftarrow"></div>
  </div>
  <!--div id="stopbutton" class="button">
    <div class="stopsquare"></div>
  </div-->
  <div id="rightbutton" class="button">
    <div class="rightarrow"></div>
  </div>
  <div id="bottombutton" class="button">
    <div class="bottomarrow"></div>
  </div>
</div>

<div id="overridebox">
  <div id="enable" class="noselect">Manual</div>
  <div id="disable" class="noselect">Autonomous</div>
</div>

<div id="rightbuttons">
  <p class="heading">Grabber</p>
  <div id="liftbutton" class="button">
    <div class="toparrow"></div>
  </div>
  <div id="grabbutton" class="button">
    <div>Grab</div>
  </div>
  <div id="releasebutton" class="button">
    <div>Release</div>
  </div>
  <div id="dropbutton" class="button">
    <div class="bottomarrow"></div>
  </div>
</div>
<p id="status">No status - select Manual/Autonomous</p>
<script src="/static/js/manual.js"></script>
