<!doctype html>
<html>
  <head>
    <title>SEVATBR</title>
    <link rel="stylesheet" type="text/css" href="static/css/base.css" />
    <script src="static/js/jquery-2.1.3.js"></script>
  </head>
  <body>
    <div id="container">

      <div id="title">
        <span style="font-size: 16px">
          Tennis Assistant
        </span>
        <span style="font-size: 12px; color: #808080">
          user interface
        </span>
      </div>

      <div id="content">
        [[content]]
      </div>

    </div>
  </body>
</html>
